/* app css stylesheet */
.border {
  border: 1px solid grey;
  padding: 20px;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* -- my CSS --*/
.userAvarat {
  width: 24px;
}

.img-thumbnail {
  max-width: 10%;
  margin: 10px 0 -20px 10px
}
/*--MY--*/
td{
  padding: 5px;
}

.suggestion-list li:hover {
  background:  #eeeeee;
}

.suggestion-list li:active,
.suggestion-list li.active {
  color: #FFFFFF;
  background: #0099FF;
  width: 123px;
}


.highlighted { background: yellow }
.autocomplete {
  background: white;
  border: 1px solid #f2f2f2;
  position: absolute;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}