
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h1>Welcome</h1>
        Vantage Online Tracking System
        Our clients enjoy up to the minute information via our online tracking system.
        TrackTrace
        This is extremely flexible and can be adapted to suit your business.
        <p>Enter the Vantage Online Tracking System <a href="#/login">HERE</a></p>
        <br/>
        <p>or
            <a href="#/register">register</a></p>
    </div>
</div>

