<h1>ADD Issue</h1>
<h2>Project </h2>
<div class="row">
    <div class="col-md-4 col-md-offset-1 border">

        <form name="addIssueForm">

            <div class="form-group">

                <label for="addIssueTitle">Title</label>
                <input type="text"
                       class="form-control"
                       id="addIssueTitle"
                       placeholder="Title"
                       required="required"
                       ng-model="issue.Title">

                <label for="addIssueDescription">Description</label>
                <textarea row="5"
                          class="form-control"
                          id="addIssueDescription"
                          placeholder="Description"
                          required="required"
                          ng-model="issue.Description">
                </textarea>


                <label for="addIssueDate">Due date</label>
                <input type="text"
                       class="form-control"
                       id="addIssueDate"
                       placeholder="mm/dd/yyyy"
                       required="required"
                       ng-model="issue.DueDate">


                <br/>
                <label for="priorityId"> Priority: </label><br>
                <select ng-model="issue.PriorityId" required="required" id="priorityId" ng-controller="ProjectDetailCtrl">
                    <option ng-repeat="priority in priorities | orderBy:'Name'" value="{{priority.Id}}">{{priority.Name}}</option>
                </select>

                <label for="addAssigneeId"> Assignee: </label><br>
                <select ng-model="issue.AssigneeId" required="required" id="addAssigneeId" ng-controller="CommonCtrl">
                    <option ng-repeat="user in allUsers | orderBy:'Username'" value="{{user.Id}}">{{user.Username}}</option>
                </select>

                <br/>
                <label for="addLabel"> Label </label><br>
                <input ng-model="issue.Labels" name="namesInput"  ng-list id="addLabel">


                <br/>
                <button type="submit" class="btn btn-primary pull-right"
                        ng-disabled="addIssueForm.$invalid"
                        ng-click="addIssue(issue)">Add issue
                </button>
            </div>
        </form>
    </div>
</div>


