<h1>ADD Issue</h1>

todo:
<p>	Assignee: Get all users</p>
<p>	Project: get all projects </p>
<p>	Due: datepicker</p>
<p>	Priority : get from this project {{id}}</p>
<p>	 Label  : get all</p>
<p>	 Title   : </p>
<p>	Description (Textarea)</p>
<p>	Create Issue (Button)</p>


<div class="row">
    <div class="col-md-4 col-md-offset-1 border">

        <form name="addIssueForm">

            <div class="form-group">

                <label for="addIssueTitle">Title</label>
                <input type="text"
                       class="form-control"
                       id="addIssueTitle"
                       placeholder="Title"
                       required="required"
                       ng-model="object.Title">

                <label for="addIssueDescription">Description</label>
                <textarea row="5"
                          class="form-control"
                          id="addIssueDescription"
                          placeholder="Description"
                          required="required"
                          ng-model="object.Description">
                </textarea>



                <!--Custom directive for add and edit form footer -->
                <label for="addId"> Assignee of project: </label><br>
                <div form-directive></div>

                <br/>
                <div priority-directive></div>



                <br/>
                <button type="submit" class="btn btn-primary pull-right"
                        ng-disabled="addIssueForm.$invalid || registerUser.password!=registerUser.confirmPassword"
                        ng-click="addIssue(object)">Add issue
                </button>
            </div>
        </form>
    </div>
</div>


