<div class="row">
    <div class="col-md-4 col-md-offset-1 border">

        <form name="addProjectForm">

            <div class="form-group">

                <label for="addProjectname">Name</label>
                <input type="text" class="form-control" id="addProjectname" placeholder="Name"
                       ng-model="addProject.Name">
                <label for="addProjectDescription">Description</label>
                <textarea row="5" class="form-control" id="addProjectDescription"
                          placeholder="Description" ng-model="addProject.Description">
                </textarea>
                <label for="addProjectKey">ProjectKey</label>
                <input type="text" class="form-control" id="addProjectKey"
                       ng-model="addProject.ProjectKey" value="">

                <label for="addProjectPriorities"> Priorities multiple select: </label><br>
                <select name="priorities" id="addProjectPriorities" ng-model="addProject.prioritiesAsArray" multiple>
                    <option value="Low">Low</option>
                    <option value="Normal">Normal</option>
                    <option value="High">High</option>
                    <option value="Urgent">Urgent</option>
                </select>

                <br/>
                <label for="addLabel"> Label </label><br>
                <input type="text" id="addLabel" placeholder="Search" ng-model="search.text" ng-keydown="showLabels(search.text)" ng-keyup="checkTextLenght(search.text)">
                <div class="autocomplete" >
                    <div ng-hide="hide">
                        <p ng-repeat="label in allLabels | filter:search.text"
                            ng-bind-html="label.Name | highlight:search.text">
                        </p>
                    </div>
                </div>

                <br/>
                <label for="addLeadId"> Lead of project: </label><br>
                <select ng-model="addProject.LeadId" id="addLeadId">
                    <option ng-repeat="user in allUsers" value="{{user.Id}}">{{user.Username}}</option>
                </select>

                <br/>
                <button type="submit" class="btn btn-primary pull-right"
                        ng-disabled="addProjectForm.$invalid || registerUser.password!=registerUser.confirmPassword"
                        ng-click="addProject(addProject)">Add project
                </button>
            </div>
        </form>
    </div>
</div>


