<h2 class="page-header">EDIT project</h2>
<div class="row logreg">
    <div class="col-md-4 col-md-offset-4 border">

        <form name="editProjectForm">

            <div class="form-group">

                <label for="editProjectname">Name</label>
                <input type="text"
                       class="form-control"
                       id="editProjectname"
                       required="required"
                       ng-model="project.Name"
                       ng-value= project.Name>

                <label for="editProjectDescription">Description</label>
                <textarea row="5"
                          class="form-control"
                          id="editProjectDescription"
                          required="required"
                          ng-model= project.Description>
                </textarea>

                <label for="editProjectKey">ProjectKey</label>
                <input type="text"
                       class="form-control"
                       id="editProjectKey" disabled
                       ng-model="project.ProjectKey"
                       placeholder="{{project.ProjectKey}}">

                <label for="editProjectPriorities"> Priorities multiple select: </label><br>
                <select name="priorities"
                        id="editProjectPriorities"
                        ng-model="project.priorities" multiple>
                    <option value="Low">Low</option>
                    <option value="Normal">Normal</option>
                    <option value="High">High</option>
                    <option value="Urgent">Urgent</option>
                </select>

              <br>



                <div  class="searchBox" ng-controller="CommonCtrl" ng-if="!isLeader">
                    <label for="searchName"> Get name of user from Assignee input </label><br>
                    <input type="text" ng-model="val"  id="searchName" placeholder="Name of user">
                    <button ng-click="getAllUsers(val)"> search by name</button>

                    <label for="addId"> Lead of project: </label><br>
                    <select ng-model="project.LeadId" required="required" id="addId" >
                        <option ng-repeat="user in allUsers | orderBy:'Username'" value="{{user.Id}}">{{user.Username}}</option>
                    </select>
                </div>


                <br/>
                <label for="editLabel"> Label </label><br>
                <input ng-model="project.labels" required="required" name="namesInput"  ng-list id="editLabel">

                <br/>
                <button ng-controller="DashboardCtrl" type="submit" class="btn btn-primary pull-right"
                        ng-disabled="editProjectForm.$invalid"
                        ng-click="editProject(project)">Edit project
                </button>
            </div>
        </form>
    </div>
</div>


