<div class="row">
    <div class="col-md-4 col-md-offset-1 border">

        <form name="editProjectForm">

            <div class="form-group">

                <label for="addProjectname">Name</label>
                <input type="text"
                       class="form-control"
                       id="addProjectname"
                       ng-model="object.Name"
                       ng-value= object.Name>

                <label for="addProjectDescription">Description</label>
                <textarea row="5"
                          class="form-control"
                          id="addProjectDescription"
                          ng-model= object.Description>
                </textarea>

                <label for="addProjectKey">ProjectKey</label>
                <input type="text"
                       class="form-control"
                       id="addProjectKey" disabled
                       ng-model="object.ProjectKey"
                       placeholder="{{object.ProjectKey}}">

                <label for="addProjectPriorities"> Priorities multiple select: </label><br>
                <select name="priorities"
                        id="addProjectPriorities"
                        ng-model="object.priorities" multiple>
                    <option value="Low">Low</option>
                    <option value="Normal">Normal</option>
                    <option value="High">High</option>
                    <option value="Urgent">Urgent</option>
                </select>

                <!--Custom directive for form footer -->
                <div form-directive></div>

                <br/>
                <button ng-controller="ProjectsCtrl" type="submit" class="btn btn-primary pull-right"
                        ng-disabled="addProjectname.$invalid"
                        ng-click="editProject(object)">Edit project
                </button>
            </div>
        </form>
    </div>
</div>


