<div class="row" class="ng-cloak">
    <div class="col-md-12">
        <div class="row" >

            <h1>Projects</h1>
            <!--User Profile directive-->
            <div profile-Directive></div>

            <a href="#/add">
                <button class="btn-default">Add new project</button>
            </a>
        </div>

        <div class="jumbotron col-md-12">
            <h3>All projects in Issue Tracking System</h3>
            <div class="col-md-2">
                Sort by:
                <select title="sorted" ng-model="sort">
                    <option value=""></option>
                    <option value="Name">Name</option>
                    <option value="Lead.Username">Lead</option>
                </select>
            </div>
            <label for="search">Search by project name:</label>
            <input type="text" id="search" ng-model="myFilter">
            <table>
                <tbody>
                <tr ng-repeat="project in allProjects  | orderBy: sort | filter: {Name : myFilter}">
                    <td>{{ $index + 1 }}</td>
                    <td><a href="#/projects/{{project.Id}}">{{ project.Name }}</a></td>
                    <td>{{ project.Lead.Username }}</td>
                    <td>{{ project.Description }}</td>
                    <td>
                        <a href="#/projects/{{project.Id}}">
                            <button class="btn-sm">view</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--GET MY ISSUES-->
        <div class="jumbotron col-md-12">
            <h3>All issues in Issue Tracking System</h3>

            <table>
                <thead>
                <tr>
                    <td>№</td>
                    <td>Title</td>
                    <td>Author</td>
                    <td>Status</td>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="issue in myIssues">
                    <td>{{ $index + 1 }}</td>
                    <td>{{issue.Title}}</td>
                    <td>{{issue.Author.Username}}</td>
                    <td>{{issue.Status.Name}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>