<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">Project page</h2>
        <div class="row profileInfo">
            <div class="col-md-4">
                <span ng-if="isLeader">|___ Your are <strong class="red">Lead</strong> of this project ___|</span>
                <span ng-if="isAssignee">|___Your are <strong class="red">Assignee</strong> of this issue ___|</span>
                <p ng-if="admin">|___Your are <strong class="red">Admin </strong>___|</p>
                <div>
                    <a href="#/projects/{{project.Id}}/edit" ng-if="admin">
                        <button class="btn-group-lg">EDIT PROJECT</button>
                    </a>
                    <a href="#/projects/{{project.Id}}/add-issue" ng-if="isLeader || admin">
                        <button class="btn-group-lg">ADD ISSUE</button>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <p> Project name: <strong>{{project.Name}}</strong>, Project Id: {{project.Id}}, Project key:
                        {{project.ProjectKey}}</p>
                    <a ng-click="showDescript()">{{ShowDescriptionText}}</a>
                </div>
            </div>

            <div class="col-md-2">
                <label>Assignees</label>
                <select ng-model="assignee">
                    <option ng-repeat="as in assignees" >{{as}}</option>
                </select>
            </div>
        </div>


        <p ng-show="showDescription">Project description: {{project.Description}}</p>

        <h3>Issues</h3>
        <div class="jumbotron row">
            <table class="table table-striped table-hover">
                <thead>
                <th>Title</th>
                <th>Description</th>
                <th>DueDate</th>
                <th>Assignee</th>
                <th>Status</th>
                </thead>
                <tbody>
                <tr ng-repeat="issue in issuesById | filter : assignee">
                    <td><a href="#/issues/{{issue.Id}}/edit">{{ issue.Title}}</a></td>
                    <td>{{ issue.Description }}</td>
                    <td>{{ issue.DueDate}}</td>
                    <td>{{ issue.Assignee.Username }}</td>
                    <td>{{ issue.Status.Name }}</td>
                    <td><a href="#/issues/{{issue.Id}}">
                        <button>INFO</button>
                    </a></td>
                    <td><a href="#/issues/{{issue.Id}}/edit" ng-if="admin || isLeader">
                        <button>EDIT</button>
                    </a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>