<div class="row">
    <div class="col-md-12">
        <h1>Project page</h1>
        <div class="jumbotron col-md-3">
            <p>Project Id: {{project.Id}}</p>
            <p>Project key: {{project.ProjectKey}}</p>
            <p>Project name: {{project.Name}}</p>
            <p>Project description: {{project.Description}}</p>
            <a href="#/projects/{{project.Id}}/edit" ng-if="isLeader"><button class="btn-default">EDIT PROJECT</button></a>
            <a href="#/projects/{{project.Id}}/add-issue" ng-if="isLeader"><button class="btn-default">ADD ISSUE</button></a>
        </div>
        <div class="jumbotron col-md-9">
            <table>
                <thead>
                <th>№</th>
                <th>Title</th>
                <th>Description</th>
                <th>DueDate</th>
                <th>Assignee</th>
                <th>Status</th>
                </thead>
                <tbody>
                <tr ng-repeat="issue in issuesById">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ issue.Title}}</td>
                    <td>{{ issue.Description }}</td>
                    <td>{{ issue.DueDate}}</td>
                    <td>{{ issue.Assignee.Username }}</td>
                    <td>{{ issue.Status.Name }}{{ issue.Status.Id }}</td>
                    <td><a href="#/issues/{{issue.Id}}" ng-if="isLeader"><button>INFO</button></a></td>
                    <td><a href="#/issues/{{issue.Id}}/edit"><button>EDIT</button></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>