<div class="emptydiv"></div>
<div class="row logreg">
    <div class="col-md-4 col-md-offset-4 text-center">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Register form</h3>
            </div>
            <form name="loginUserForm">
                <div class="form-group">
                    <label for="registerEmail">E-mail</label>
                    <input type="email"
                           required=required
                           class="form-control"
                           id="registerEmail"
                           placeholder="E-mail"
                           ng-model="registerUser.userEmail">

                    <label for="registerPassword">Password</label>
                    <input type="password"
                           required=required
                           class="form-control"
                           id="registerPassword"
                           placeholder="Password"
                           ng-model="registerUser.password">

                    <label for="registerConfirmPassword">Confirm password</label>
                    <input type="password"
                           required=required
                           class="form-control"
                           id="registerConfirmPassword"
                           placeholder="Confirm password"
                           ng-model="registerUser.confirmPassword">
                    <br/>

                    <button type="submit" class="btn btn-primary pull-right"
                            ng-disabled="registerUserForm.$invalid || registerUser.password!=registerUser.confirmPassword"
                            ng-click="register(registerUser)">Register
                    </button>
                </div>
            </form>
            <br>
            If you have account already? <a href="#/login">Login</a>

        </div>
    </div>
</div>
